@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

body
{
margin:auto;
height:auto;
font-family:Raleway,sans-serif;
width:1500px;
}
a
{
text-decoration:none;
color:black
}
#titre_principal
{
color:#0065FC;
}
.litletexte
{
margin-top:-10px
}
.header1
{
display:flex;
justify-content: space-between;
margin-top: 50px;
width:1500px
}
.menu
{
padding:40px;
color: black;
}
.menu:hover
{
color:#0065FC;
border-top:2px solid
}
:placeholder-shown
{
font-weight: bold;
font-size:1.1em;
border:0px solid;
}
button
{
background-color:#0065FC;
color:white;
padding:10px 10px 10px 10px;
border-radius: 0px 12px 12px 0px;
border:0px solid;
}
#toutlesfiltres
{
display:flex;
margin-top: 20px;

}
.searchfiltres
{
padding:7px;
font-size:1.2em;
font-weight: bold;
border:1px solid gray;
border-radius: 70px;
margin:30px
}
.searchfiltres:hover
{
color:#0065FC
}
.searchtitres
{
font-size: 1.1em;
margin-top:40px;

}

#menu2,#texte1,.gras
{
font-weight: bold;
}
img{
margin:auto;
width:250px;
}
.voirPlus
{
color:black;
font-weight:bold;
margin-left: 30px;
}
.figure1
{
background-color:white;
padding-bottom: 20px;
box-shadow:0px 0px 2px grey;
border-radius:10px 10px 0px 0px;
}
.figure2
{
box-shadow: 0px 0px 5px grey;
background-color: white;
display:flex;
border-radius:10px 0px 0px 10px;
}
.figcaption1
{
color:black;
padding-left:10px;
}
.figcaption3
{
color:black;
width:200px;
padding-left:20px;
}
.figcaption5
{
color:black
}
.main2
{
background-color:#F2F2F2;
border-radius:10px 10px 10px 10px;
max-width:1000px;
margin-top:-100px;
}
.main
{
display:flex;
flex-wrap: wrap;
max-width:1000px;
background-color:#F2F2F2;
margin-right:30px;
padding:0px 5px 50px 20px;
border-radius:10px 10px 10px 10px;
margin-top: -20px;
}
.edit
{
border-radius: 10px 10px 0px 0px;
}
.edit2
{
border-radius: 10px 0px 0px 10px;
height:150px;
width:150px
}
.edit3
{
border-radius: 10px 10px 0px 0px;
}
.hebergements
{
margin-top:20px;
display:flex;
width:1700px;

}
.activites
{
display:flex;
flex-wrap: wrap;
max-height: 2500px;
}
.footer
{
display:flex;
background-color: #F2F2F2;
justify-content: space-around;
}

.titre2
{
padding:7px;
}
.titre
{
margin-top:70px;
}

