
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');
body
{
margin:auto;
height:auto;
font-family:Raleway,sans-serif;
width:1500px;
}
a
{
text-decoration:none;
color:black
}
img
{
margin:auto;
width:250px;
}
#header
{
display:flex;
justify-content:space-between;
margin-top:50px
}
#logo
{
width:100px;
margin-left:0px
}
.menu
{
padding:40px;
color: black;
}
.menu:hover
{
color:#0065FC;
border-top:2px solid
}
.search
{
padding:30px;
}
:placeholder-shown
{
font-weight: bold;
font-size:1.1em;
border:0px solid;
}
button
{
background-color:#0065FC;
color:white;
padding:10px 10px 10px 10px;
border-radius: 0px 12px 12px 0px;
border:0px solid;
}
#toutlesfiltres
{
display:flex;
}
.searchtitres
{
font-size: 1.1em;
margin-top:20px;
}

.searchfiltres
{
font-size:1.2em;
font-weight: bold;
margin-left:30px;
border:2px solid #DCDCDC;
border-radius:50px 50px 50px 50px;
display:flex;
align-items:center;
padding-right:20px;
padding-left:10px;
border-left:none;
}
.logo2
{
display:flex;
align-items:center;
color:#0065FC;
background-color:#D6EAF8;
border-radius:100%;
justify-content:center;
padding:15px;
margin-left:-10px;
margin-right: 10px;
}
#infos
{
color:#0065FC;
font-size:14px;
}
.texte
{
margin-top:-16px;
margin-left:25px;
}
#titres
{
display:flex;
justify-content: space-between;
background-color: #F2F2F2;
}
.titre
{
margin-left:30px;
margin-right:330px;
}
#hebergements
{
display:flex
}
#main
{
display:flex;
flex-wrap: wrap;
padding:0px 5px 50px 20px;
border-radius:10px 10px 10px 10px;
background-color: #F2F2F2;
}
.figure1
{
background-color:white;
padding-bottom: 5px;
box-shadow:0px 0px 2px grey;
border-radius:10px 10px 10px 10px;
margin:15px
}
.edit
{
border-radius: 10px 10px 0px 0px;
}
.figcaption1
{
color:black;
padding-left:10px;
}
.figcaption2
{
margin-top:0px;
}
.litletexte
{
margin-top:-15px
}
.stars
{
color:#0065FC;
margin-top:-10px
}
.colorStar
{
color:#DCDCDC
}
.voirPlus
{
color:black;
font-weight:bold;
margin-left: 30px;
margin-top:20px;
}
.main2
{
background-color: #F2F2F2;
margin-left:35px;
}
.figure2
{
box-shadow: 0px 0px 5px grey;
background-color: white;
display:flex;
border-radius:10px 10px 10px 10px;
margin-right:190px;
}
.edit2
{
border-radius: 10px 0px 0px 10px;
height:150px;
width:150px
}
.figcaption3
{
color:black;
width:200px;
padding-left:20px;
}
.stars2
{
color:#0065FC;
margin-top:40px;
}
.titre2
{
margin-bottom:0px;
}
#activites
{
display:flex;
justify-content:flex-start;
}
.figure3
{
height:200px;
margin:25px;
}

#activites2
{
position:relative;
top:200px;
right:900px;
}
#activites3
{
position: relative;
top:200px;
right:600px;
}
.edit3
{
border-radius: 10px 10px 0px 0px;
}
.figcaption5
{
color:black
}
#footer
{
display:flex;
background-color: #F2F2F2;
justify-content: space-around;
margin-top:250px;
}




