
#titre_principal
{
display:flex;
flex-direction: row;
color:blue;
}
header{

justify-content: space-between;
align-items: flex-end;
flex-direction: row-reverse;
}
ul
{
display: flex;
list-style-type: none;
}
.lien{
margin-right: 70px;

}
#liens
{
display: flex;
flex-direction: row-reverse;
}
.menu
{
border: 1px solid gray;
padding:7px ;
border-radius: 15px;
margin-left: 50px;

}
#texte
{
display:inline-block;
margin-left:50px;

}
#recherche
{
display:flex;

}

#menu2,#texte1,.gras
{
font-weight: bold;
}

#economiques,#familial,#romantique,#animaux
{
border:1px solid gray;
border-radius:20px;
padding:7px 7px 7px 7px;
}
#search
{
position:absolute;
left:10%;
top:17%;
font-weight: bold;
}
#search2
{
position:absolute;
left:22%;
top:16%;
background-color:blue;
color:white;
padding: 7px;
border-radius:0px 10px 10px 0px;
font-weight: bold;
}

img{
width:20%;
}
#photo1
{
width:175px;
height:90px;
border-radius: 10px 10px 0px 0px;
position: absolute;
top:47%;
left:12%
}
#legende1
{
position:absolute;
top:57%;
left:12%;
font-weight: bold;
}
span{
font-weight: lighter;
font-size: 0.9em;
}
#photo2
{
width:175px;
height:90px;
border-radius: 10px 10px 0px 0px;
position:absolute;
top:65%;
left:12%;

}
#legende2
{
position:absolute;
top:75%;
left:12%;
font-weight: bold;
}
#photo3
{
position:absolute;
width:175px;
height:90px;
border-radius: 10px 10px 0px 0px;
left:23%;
top:47%
}
#legende3
{
position:absolute;
top:57%;
left:23%;
font-weight: bold;
}
#photo4
{
width:175px;
height:90px;
border-radius: 10px 10px 0px 0px;
position: absolute;
top:65%;
left:23%;
}
#legende4
{
position:absolute;
top:75%;
left:23%;
font-weight: bold;
}
#photo5
{
width:175px;
height:90px;
border-radius:10px 10px 0px 0px;
position:absolute;
top:47%;
left:34%;
}
#legende5
{
position:absolute;
top:57%;
left:34%;
font-weight: bold;
}
#photo6
{
width:175px;
height:90px;
border-radius:10px 10px 0px 0px;
position:absolute;
top:65%;
left:34%;
}
#legende6
{
position:absolute;
top:75%;
left:34%;
font-weight:bold;
}
#photo7
{
    width:120px;
    height:100px;
    border-radius: 10px 0px 0px 10px;
    position:absolute;
    right:45%;
    top:47%
}
#legende7
{
position:absolute;
top:48%;
right:37%;
font-weight: bold;
}
#photo8
{
    width:120px;
    height:100px;
    border-radius: 10px 0px 0px 10px;
    position:absolute;
    right:45%;
    top:62%;
}
#legende8
{
position:absolute;
right:37%;
top:63%;
font-weight: bold;
}
#photo9
{
    width:120px;
    height:100px;
    border-radius:  10px 0px 0px 10px;
    position:absolute;
    right:45%;
    top:77%;
}
#legende9
{
position:absolute;
right:37%;
top:78%;
font-weight: bold;
}
#lespluspopulaires
{
position:absolute;
top:40%;
right:44%;
font-weight: bold;
}
#hebergementamarseille
{
font-weight: bold;
position: absolute;
top:40%;
left:12%;
}
#afficherplus
{
position:absolute;
top:83%;
left:11%;
font-weight:bold;
}
#activitesamarseille
{
font-weight:bold;
position:absolute;
top:100%;
left:11%
}
#photo10
{
width:250px;
height:400px;
position:absolute;
left:12%;
top:104.5%;
border-radius: 10px 10px 0px 0px;
}
#legende10
{
position:absolute;
left:12%;
top:148%;
font-weight: bold;
}
#photo11
{
width:300px;
height:200px;
position:absolute;
top:107%;
left:27%;
border-radius: 10px 10px 0px 0px;
}
#legende11
{
position:absolute;
top:129%;
left:27%;
font-weight: bold;
}
#photo12
{
width:300px;
height:110px;
position:absolute;
top:135%;
left:27%;
border-radius: 10px 10px 0px 0px;
}
#legende12
{
position:absolute;
top:148%;
left:27%;
font-weight: bold;
}
#photo13
{
width:300px;
height:379px;
position:absolute;
top:107%;
right:39%;
border-radius:10px 10px 0px 0px;
}
#legende13
{
position:absolute;
top:148%;
left:45%;
font-weight: bold;
}
#photo14
{
width:300px;
height:135px;
position:absolute;
top:107%;
right:21%;
border-radius: 10px 10px 0px 0px;
}
#legende14
{
position:absolute;
top:123%;
left:63%;
font-weight: bold;
}
#photo15
{
width:300px;
height:180px;
position: absolute;
right:21%;
top:128%;
border-radius: 10px 10px 0px 0px;
}
#legende15
{
position:absolute;
top:148%;
left:63%;
font-weight: bold;
}
#apropos
{
position: absolute;
top:180%;
left:12%
}
#noshebergements
{
position:absolute;
top:180%;
left:35%;
}
#assistance
{
position:absolute;
top:180%;
left:60%;
}
